#pane{
    -fx-background-color:#317589;

}
#forgot {
    -fx-background-color: transparent;
    -fx-font-size: 10;
    -fx-text-fill: #D7CCCC;
}
#forgot:hover {
    -fx-background-color: transparent;
    -fx-font-size: 10;
    -fx-text-fill: #eee;
}

.text-field {
    -fx-background-color: #fff;
    -fx-font-size: 14;
    -fx-background-radius: 3;
    -fx-text-fill: #544545;
}
.text-field:focused {
    -fx-background-color: rgba(255,255,255,0.8);
}
.text-area {
    -fx-background-color: #fff;
    -fx-font-size: 14;
    -fx-background-radius: 3;
    -fx-text-fill: #544545;
}
.text-area:focused {
    -fx-background-color: rgba(255,255,255,0.8);
}



